<a href="https://colab.research.google.com/github/kenpurin/FMP_API/blob/main/code_de_for_FMP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Take-home assignment

# - Name: Purin Charunrattanapiriya
# - Email: purin.cha1996@gmail.com

# **Information**
- Get the data from a free financial data API called FMP (https://site.financialmodelingprep.com/developer/docs/)

  Historical Dividends (https://site.financialmodelingprep.com/developer/docs/#Historical-Dividends)
- Delisted companies ((https://site.financialmodelingprep.com/developer/docs/delisted-companies-api/))
- Store the retrieved data in any database you are comfortable working with (for example, you may setup MySQL on your local machine)

# Codeing

In [1]:
!git clone https://github.com/kenpurin/FMP_API.git

Cloning into 'FMP_API'...
remote: Enumerating objects: 30, done.
remote: Counting objects: 100% (30/30), done.
remote: Compressing objects: 100% (27/27), done.
remote: Total 30 (delta 14), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (30/30), done.

In [2]:
#FMP SDK
#Install FMP
!pip install fmpsdk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fmpsdk
  Downloading fmpsdk-20220805.0-py3-none-any.whl (22 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from fmpsdk) (2.23.0)
Collecting python-dotenv
  Downloading python_dotenv-0.20.0-py3-none-any.whl (17 kB)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->fmpsdk) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->fmpsdk) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->fmpsdk) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->fmpsdk) (2022.6.15)
Installing collected packages: python-dotenv, fmpsdk
Successfully installed fmpsdk-20220805.0 python-dotenv-0.20.0

FMP SDK

In [3]:
#TEST 
#!/usr/bin/env python3

import os
from dotenv import load_dotenv
import typing
import fmpsdk

# Actual API key is stored in a .env file.  Not good to store API key directly in script.
load_dotenv('/content/FMP_API/a.env')
#api key

apikey = os.environ.get("apikey")

# Company Valuation Methods
symbol: str = "AAPL"
#print(f"Company Profile: {fmpsdk.company_profile(apikey=apikey, symbol=symbol)}")

In [4]:
#Test 
fmpsdk.company_profile(apikey=apikey, symbol=symbol)

[{'symbol': 'AAPL',
  'price': 172.955,
  'beta': 1.230174,
  'volAvg': 77846158,
  'mktCap': 2779525414912,
  'lastDiv': 0.9,
  'range': '129.04-182.94',
  'changes': -1.1949921,
  'companyName': 'Apple Inc.',
  'currency': 'USD',
  'cik': '0000320193',
  'isin': 'US0378331005',
  'cusip': '037833100',
  'exchange': 'NASDAQ Global Select',
  'exchangeShortName': 'NASDAQ',
  'industry': 'Consumer Electronics',
  'website': 'https://www.apple.com',
  'description': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.',
  'ceo': 'Mr. Timothy Cook',
  'sector': 'Technology',
  'country': 'US',
  'fullTimeEmployees': '154000',
  'phone': '14089961010',
  'address': '1 Apple Park Way',
  'city': 'Cupertino',
  'state': 'CALIFORNIA',
  'zip': '95014',
  'dcfDiff': 2.07176,
  'dcf': 176.222,
  'image': 'https://financialmodelingprep.com/image-stock/AAPL.png',
  'ipoDate': '1980-12-12',
  'defaultImage': False,
  'isEtf': False,
  'isActivelyTrading': True,
  'isAdr': False,
  'isFund': False}]

Historical Dividends

In [5]:
#Get the data from a free financial data API called FMP
#Data Historical Dividends

#print(f"Historical Dividends: {fmpsdk.historical_stock_dividend(apikey=apikey, symbol=symbol)}")
fmpsdk.historical_stock_dividend(apikey=apikey, symbol=symbol)

{'symbol': 'AAPL',
 'historical': [{'date': '2022-08-05',
   'label': 'August 05, 22',
   'adjDividend': 0.23,
   'dividend': 0.23,
   'recordDate': '2022-08-08',
   'paymentDate': '2022-08-11',
   'declarationDate': ''},
  {'date': '2022-05-06',
   'label': 'May 06, 22',
   'adjDividend': 0.23,
   'dividend': 0.23,
   'recordDate': '2022-05-09',
   'paymentDate': '2022-05-12',
   'declarationDate': '2022-04-28'},
  {'date': '2022-02-04',
   'label': 'February 04, 22',
   'adjDividend': 0.22,
   'dividend': 0.22,
   'recordDate': '2022-02-07',
   'paymentDate': '2022-02-10',
   'declarationDate': '2022-01-27'},
  {'date': '2021-11-05',
   'label': 'November 05, 21',
   'adjDividend': 0.22,
   'dividend': 0.22,
   'recordDate': '2021-11-08',
   'paymentDate': '2021-11-11',
   'declarationDate': '2021-10-28'},
  {'date': '2021-08-06',
   'label': 'August 06, 21',
   'adjDividend': 0.22,
   'dividend': 0.22,
   'recordDate': '2021-08-09',
   'paymentDate': '2021-08-12',
   'declarationDate': '2021-07-27'},
  {'date': '2021-05-07',
   'label': 'May 07, 21',
   'adjDividend': 0.22,
   'dividend': 0.22,
   'recordDate': '2021-05-10',
   'paymentDate': '2021-05-13',
   'declarationDate': '2021-04-28'},
  {'date': '2021-02-05',
   'label': 'February 05, 21',
   'adjDividend': 0.205,
   'dividend': 0.205,
   'recordDate': '2021-02-08',
   'paymentDate': '2021-02-11',
   'declarationDate': '2021-01-27'},
  {'date': '2020-11-06',
   'label': 'November 06, 20',
   'adjDividend': 0.205,
   'dividend': 0.205,
   'recordDate': '2020-11-09',
   'paymentDate': '2020-11-12',
   'declarationDate': '2020-10-29'},
  {'date': '2020-08-07',
   'label': 'August 07, 20',
   'adjDividend': 0.205,
   'dividend': 0.82,
   'recordDate': '2020-08-10',
   'paymentDate': '2020-08-13',
   'declarationDate': '2020-07-30'},
  {'date': '2020-05-08',
   'label': 'May 08, 20',
   'adjDividend': 0.205,
   'dividend': 0.82,
   'recordDate': '2020-05-11',
   'paymentDate': '2020-05-14',
   'declarationDate': '2020-04-30'},
  {'date': '2020-02-07',
   'label': 'February 07, 20',
   'adjDividend': 0.1925,
   'dividend': 0.77,
   'recordDate': '2020-02-10',
   'paymentDate': '2020-02-13',
   'declarationDate': '2020-01-28'},
  {'date': '2019-11-07',
   'label': 'November 07, 19',
   'adjDividend': 0.1925,
   'dividend': 0.77,
   'recordDate': '2019-11-11',
   'paymentDate': '2019-11-14',
   'declarationDate': '2019-10-30'},
  {'date': '2019-08-09',
   'label': 'August 09, 19',
   'adjDividend': 0.1925,
   'dividend': 0.77,
   'recordDate': '2019-08-12',
   'paymentDate': '2019-08-15',
   'declarationDate': '2019-07-30'},
  {'date': '2019-05-10',
   'label': 'May 10, 19',
   'adjDividend': 0.1925,
   'dividend': 0.77,
   'recordDate': '2019-05-13',
   'paymentDate': '2019-05-16',
   'declarationDate': '2019-05-01'},
  {'date': '2019-02-08',
   'label': 'February 08, 19',
   'adjDividend': 0.1825,
   'dividend': 0.73,
   'recordDate': '2019-02-11',
   'paymentDate': '2019-02-14',
   'declarationDate': '2019-01-29'},
  {'date': '2018-11-08',
   'label': 'November 08, 18',
   'adjDividend': 0.1825,
   'dividend': 0.73,
   'recordDate': '2018-11-12',
   'paymentDate': '2018-11-15',
   'declarationDate': '2018-11-01'},
  {'date': '2018-08-10',
   'label': 'August 10, 18',
   'adjDividend': 0.1825,
   'dividend': 0.73,
   'recordDate': '2018-08-13',
   'paymentDate': '2018-08-16',
   'declarationDate': '2018-07-31'},
  {'date': '2018-05-11',
   'label': 'May 11, 18',
   'adjDividend': 0.1825,
   'dividend': 0.73,
   'recordDate': '2018-05-14',
   'paymentDate': '2018-05-17',
   'declarationDate': '2018-05-01'},
  {'date': '2018-02-09',
   'label': 'February 09, 18',
   'adjDividend': 0.1575,
   'dividend': 0.63,
   'recordDate': '2018-02-12',
   'paymentDate': '2018-02-15',
   'declarationDate': '2018-02-01'},
  {'date': '2017-11-10',
   'label': 'November 10, 17',
   'adjDividend': 0.1575,
   'dividend': 0.63,
   'recordDate': '2017-11-13',
   'paymentDate': '2017-11-16',
   'declarationDate': '2017-11-02'},
  {'date': '2017-08-10',
   'label': 'August 10, 17',
   'adjDividend': 0.1575,
   'dividend': 0.63,
   'recordDate': '2017-08-14',
   'paymentDate': '2017-08-17',
   'declarationDate': '2017-08-01'},
  {'date': '2017-05-11',
   'label': 'May 11, 17',
   'adjDividend': 0.1575,
   'dividend': 0.63,
   'recordDate': '2017-05-15',
   'paymentDate': '2017-05-18',
   'declarationDate': '2017-05-02'},
  {'date': '2017-02-09',
   'label': 'February 09, 17',
   'adjDividend': 0.1425,
   'dividend': 0.57,
   'recordDate': '2017-02-13',
   'paymentDate': '2017-02-16',
   'declarationDate': '2017-02-01'},
  {'date': '2016-11-03',
   'label': 'November 03, 16',
   'adjDividend': 0.1425,
   'dividend': 0.57,
   'recordDate': '2016-11-07',
   'paymentDate': '2016-11-10',
   'declarationDate': '2016-10-25'},
  {'date': '2016-08-04',
   'label': 'August 04, 16',
   'adjDividend': 0.1425,
   'dividend': 0.57,
   'recordDate': '2016-08-08',
   'paymentDate': '2016-08-11',
   'declarationDate': '2016-07-26'},
  {'date': '2016-05-05',
   'label': 'May 05, 16',
   'adjDividend': 0.1425,
   'dividend': 0.57,
   'recordDate': '2016-05-09',
   'paymentDate': '2016-05-12',
   'declarationDate': '2016-04-26'},
  {'date': '2016-02-04',
   'label': 'February 04, 16',
   'adjDividend': 0.13,
   'dividend': 0.52,
   'recordDate': '2016-02-08',
   'paymentDate': '2016-02-11',
   'declarationDate': '2016-01-26'},
  {'date': '2015-11-05',
   'label': 'November 05, 15',
   'adjDividend': 0.13,
   'dividend': 0.52,
   'recordDate': '2015-11-09',
   'paymentDate': '2015-11-12',
   'declarationDate': '2015-10-27'},
  {'date': '2015-08-06',
   'label': 'August 06, 15',
   'adjDividend': 0.13,
   'dividend': 0.52,
   'recordDate': '2015-08-10',
   'paymentDate': '2015-08-13',
   'declarationDate': '2015-07-21'},
  {'date': '2015-05-07',
   'label': 'May 07, 15',
   'adjDividend': 0.13,
   'dividend': 0.52,
   'recordDate': '2015-05-11',
   'paymentDate': '2015-05-14',
   'declarationDate': '2015-04-27'},
  {'date': '2015-02-05',
   'label': 'February 05, 15',
   'adjDividend': 0.1175,
   'dividend': 0.47,
   'recordDate': '2015-02-09',
   'paymentDate': '2015-02-12',
   'declarationDate': '2015-01-27'},
  {'date': '2014-11-06',
   'label': 'November 06, 14',
   'adjDividend': 0.1175,
   'dividend': 0.47,
   'recordDate': '2014-11-10',
   'paymentDate': '2014-11-13',
   'declarationDate': '2014-10-20'},
  {'date': '2014-08-07',
   'label': 'August 07, 14',
   'adjDividend': 0.1175,
   'dividend': 0.47,
   'recordDate': '2014-08-11',
   'paymentDate': '2014-08-14',
   'declarationDate': '2014-07-22'},
  {'date': '2014-05-08',
   'label': 'May 08, 14',
   'adjDividend': 0.1175,
   'dividend': 3.29,
   'recordDate': '2014-05-12',
   'paymentDate': '2014-05-15',
   'declarationDate': '2014-04-23'},
  {'date': '2014-02-06',
   'label': 'February 06, 14',
   'adjDividend': 0.108929,
   'dividend': 3.05,
   'recordDate': '2014-02-10',
   'paymentDate': '2014-02-13',
   'declarationDate': '2014-01-27'},
  {'date': '2013-11-06',
   'label': 'November 06, 13',
   'adjDividend': 0.108929,
   'dividend': 3.05,
   'recordDate': '2013-11-11',
   'paymentDate': '2013-11-14',
   'declarationDate': '2013-10-28'},
  {'date': '2013-08-08',
   'label': 'August 08, 13',
   'adjDividend': 0.108929,
   'dividend': 3.05,
   'recordDate': '2013-08-12',
   'paymentDate': '2013-08-15',
   'declarationDate': '2013-07-23'},
  {'date': '2013-05-09',
   'label': 'May 09, 13',
   'adjDividend': 0.108929,
   'dividend': 3.05,
   'recordDate': '2013-05-13',
   'paymentDate': '2013-05-16',
   'declarationDate': '2013-04-23'},
  {'date': '2013-02-07',
   'label': 'February 07, 13',
   'adjDividend': 0.094643,
   'dividend': 2.65,
   'recordDate': '2013-02-11',
   'paymentDate': '2013-02-14',
   'declarationDate': '2013-01-23'},
  {'date': '2012-11-07',
   'label': 'November 07, 12',
   'adjDividend': 0.094643,
   'dividend': 2.65,
   'recordDate': '2012-11-12',
   'paymentDate': '2012-11-15',
   'declarationDate': '2012-10-25'},
  {'date': '2012-08-09',
   'label': 'August 09, 12',
   'adjDividend': 0.094643,
   'dividend': 2.65,
   'recordDate': '2012-08-13',
   'paymentDate': '2012-08-16',
   'declarationDate': '2012-03-19'},
  {'date': '1995-11-21',
   'label': 'November 21, 95',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1995-11-20',
   'label': 'November 20, 95',
   'adjDividend': 0.0010714275,
   'dividend': 0.12,
   'recordDate': '1995-11-24',
   'paymentDate': '1995-12-15',
   'declarationDate': '1995-10-09'},
  {'date': '1995-08-16',
   'label': 'August 16, 95',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '1995-08-18',
   'paymentDate': '1995-09-08',
   'declarationDate': '1995-07-20'},
  {'date': '1995-05-29',
   'label': 'May 29, 95',
   'adjDividend': 0.0010714275,
   'dividend': 0.12,
   'recordDate': '1995-06-02',
   'paymentDate': '1995-06-23',
   'declarationDate': '1995-05-02'},
  {'date': '1995-05-26',
   'label': 'May 26, 95',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1995-02-14',
   'label': 'February 14, 95',
   'adjDividend': 0.0010714275,
   'dividend': 0.12,
   'recordDate': '1995-02-17',
   'paymentDate': '1995-03-10',
   'declarationDate': ''},
  {'date': '1995-02-13',
   'label': 'February 13, 95',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1994-11-21',
   'label': 'November 21, 94',
   'adjDividend': 0.0010714275,
   'dividend': 0.12,
   'recordDate': '1994-11-25',
   'paymentDate': '1994-12-16',
   'declarationDate': ''},
  {'date': '1994-11-18',
   'label': 'November 18, 94',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1994-08-16',
   'label': 'August 16, 94',
   'adjDividend': 0.0010714275,
   'dividend': 0.12,
   'recordDate': '1994-08-19',
   'paymentDate': '1994-09-09',
   'declarationDate': ''},
  {'date': '1994-08-15',
   'label': 'August 15, 94',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1994-05-30',
   'label': 'May 30, 94',
   'adjDividend': 0.0010714275,
   'dividend': 0.12,
   'recordDate': '1994-06-03',
   'paymentDate': '1994-06-24',
   'declarationDate': ''},
  {'date': '1994-05-27',
   'label': 'May 27, 94',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1994-02-08',
   'label': 'February 08, 94',
   'adjDividend': 0.0010714275,
   'dividend': 0.12,
   'recordDate': '1994-02-11',
   'paymentDate': '1994-03-04',
   'declarationDate': '1994-02-02'},
  {'date': '1994-02-07',
   'label': 'February 07, 94',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1993-11-22',
   'label': 'November 22, 93',
   'adjDividend': 0.0010714275,
   'dividend': 0.12,
   'recordDate': '1993-11-26',
   'paymentDate': '1993-12-17',
   'declarationDate': ''},
  {'date': '1993-11-19',
   'label': 'November 19, 93',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1993-08-17',
   'label': 'August 17, 93',
   'adjDividend': 0.0010714275,
   'dividend': 0.12,
   'recordDate': '1993-08-20',
   'paymentDate': '1993-09-10',
   'declarationDate': ''},
  {'date': '1993-08-16',
   'label': 'August 16, 93',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1993-06-01',
   'label': 'June 01, 93',
   'adjDividend': 0.0010714275,
   'dividend': 0.12,
   'recordDate': '1993-06-04',
   'paymentDate': '1993-06-25',
   'declarationDate': ''},
  {'date': '1993-05-28',
   'label': 'May 28, 93',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1993-02-16',
   'label': 'February 16, 93',
   'adjDividend': 0.0010714275,
   'dividend': 0.12,
   'recordDate': '1993-02-19',
   'paymentDate': '1993-03-12',
   'declarationDate': ''},
  {'date': '1993-02-12',
   'label': 'February 12, 93',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1992-11-30',
   'label': 'November 30, 92',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '1992-12-04',
   'paymentDate': '1992-12-18',
   'declarationDate': '1992-11-23'},
  {'date': '1992-08-17',
   'label': 'August 17, 92',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '1992-08-21',
   'paymentDate': '1992-09-11',
   'declarationDate': ''},
  {'date': '1992-06-01',
   'label': 'June 01, 92',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1992-02-14',
   'label': 'February 14, 92',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '1992-02-21',
   'paymentDate': '1992-03-13',
   'declarationDate': ''},
  {'date': '1991-11-18',
   'label': 'November 18, 91',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '1991-11-22',
   'paymentDate': '1991-12-13',
   'declarationDate': ''},
  {'date': '1991-08-19',
   'label': 'August 19, 91',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '1991-08-23',
   'paymentDate': '1991-09-13',
   'declarationDate': ''},
  {'date': '1991-05-20',
   'label': 'May 20, 91',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '1991-05-24',
   'paymentDate': '1991-06-14',
   'declarationDate': ''},
  {'date': '1991-02-19',
   'label': 'February 19, 91',
   'adjDividend': 0.0010714275,
   'dividend': 0.12,
   'recordDate': '1991-02-22',
   'paymentDate': '1991-03-15',
   'declarationDate': ''},
  {'date': '1991-02-15',
   'label': 'February 15, 91',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1990-11-19',
   'label': 'November 19, 90',
   'adjDividend': 0.0010714275,
   'dividend': 0.12,
   'recordDate': '1990-11-23',
   'paymentDate': '1990-12-14',
   'declarationDate': '1990-11-08'},
  {'date': '1990-11-16',
   'label': 'November 16, 90',
   'adjDividend': 0.001071,
   'dividend': 0.12,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1990-08-21',
   'label': 'August 21, 90',
   'adjDividend': 0.0009821419,
   'dividend': 0.11,
   'recordDate': '1990-08-24',
   'paymentDate': '1990-09-14',
   'declarationDate': '1990-07-23'},
  {'date': '1990-08-20',
   'label': 'August 20, 90',
   'adjDividend': 0.000982,
   'dividend': 0.11,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1990-05-22',
   'label': 'May 22, 90',
   'adjDividend': 0.0009821419,
   'dividend': 0.11,
   'recordDate': '1990-05-25',
   'paymentDate': '1990-06-15',
   'declarationDate': '1990-04-09'},
  {'date': '1990-05-21',
   'label': 'May 21, 90',
   'adjDividend': 0.000982,
   'dividend': 0.11,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1990-02-19',
   'label': 'February 19, 90',
   'adjDividend': 0.0009821419,
   'dividend': 0.11,
   'recordDate': '1990-02-23',
   'paymentDate': '1990-03-15',
   'declarationDate': '1990-02-02'},
  {'date': '1990-02-16',
   'label': 'February 16, 90',
   'adjDividend': 0.000982,
   'dividend': 0.11,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1989-11-17',
   'label': 'November 17, 89',
   'adjDividend': 0.000982,
   'dividend': 0.1,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1989-08-21',
   'label': 'August 21, 89',
   'adjDividend': 0.000893,
   'dividend': 0.1,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1989-05-22',
   'label': 'May 22, 89',
   'adjDividend': 0.000893,
   'dividend': 0.1,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1989-02-17',
   'label': 'February 17, 89',
   'adjDividend': 0.000893,
   'dividend': 0.1,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1988-11-21',
   'label': 'November 21, 88',
   'adjDividend': 0.000893,
   'dividend': 0.1,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1988-08-15',
   'label': 'August 15, 88',
   'adjDividend': 0.000714,
   'dividend': 0.08,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1988-05-16',
   'label': 'May 16, 88',
   'adjDividend': 0.000714,
   'dividend': 0.08,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1988-02-12',
   'label': 'February 12, 88',
   'adjDividend': 0.000714,
   'dividend': 0.08,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1987-11-17',
   'label': 'November 17, 87',
   'adjDividend': 0.000714,
   'dividend': 0.08,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1987-08-10',
   'label': 'August 10, 87',
   'adjDividend': 0.000536,
   'dividend': 0.06,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''},
  {'date': '1987-05-11',
   'label': 'May 11, 87',
   'adjDividend': 0.000536,
   'dividend': 0.06,
   'recordDate': '',
   'paymentDate': '',
   'declarationDate': ''}]}

In [6]:
#ไลบรารี่เตรียมข้อมูล
import pandas as pd

In [7]:
#แปลงค่าที่รับมาจาก api ให้อยู่ในรูปแบบ dataframe
#keep value from api in data_hd
data_hd=fmpsdk.historical_stock_dividend(apikey=apikey, symbol=symbol)

#ใช้ pd.json_normalize เพราะข้อมูลมีการซ้อนกันใน historical
df_hd= pd.json_normalize(data_hd, 'historical')
df_hd.head(10)

,date,label,adjDividend,dividend,recordDate,paymentDate,declarationDate
0,2022-08-05,"August 05, 22",0.230,0.230,2022-08-08,2022-08-11,
1,2022-05-06,"May 06, 22",0.230,0.230,2022-05-09,2022-05-12,2022-04-28
2,2022-02-04,"February 04, 22",0.220,0.220,2022-02-07,2022-02-10,2022-01-27
3,2021-11-05,"November 05, 21",0.220,0.220,2021-11-08,2021-11-11,2021-10-28
4,2021-08-06,"August 06, 21",0.220,0.220,2021-08-09,2021-08-12,2021-07-27
5,2021-05-07,"May 07, 21",0.220,0.220,2021-05-10,2021-05-13,2021-04-28
6,2021-02-05,"February 05, 21",0.205,0.205,2021-02-08,2021-02-11,2021-01-27
7,2020-11-06,"November 06, 20",0.205,0.205,2020-11-09,2020-11-12,2020-10-29
8,2020-08-07,"August 07, 20",0.205,0.820,2020-08-10,2020-08-13,2020-07-30
9,2020-05-08,"May 08, 20",0.205,0.820,2020-05-11,2020-05-14,2020-04-30

In [8]:
df_hd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             92 non-null     object
 1   label            92 non-null     object
 2   adjDividend      92 non-null     float64
 3   dividend         92 non-null     float64
 4   recordDate       92 non-null     object
 5   paymentDate      92 non-null     object
 6   declarationDate  92 non-null     object
dtypes: float64(2), object(5)
memory usage: 5.2+ KB

In [9]:
# สร้าง list ไว้เก็บชื่อของหุ้น เพื่อนำไปใช้ต่อกับ dataframe ของ historical
a=[]
for i in range(len(data_hd['historical'])):
  a.append(data_hd['symbol'])

In [10]:
#สร้าง columns ของ symbol เพื่อใส่ระบุชื่อของหุ้น
df2 = pd.DataFrame(a,columns=['symbol'])

In [11]:
#concat รวมกัน
df3=pd.concat([df2, df_hd],axis=1)
df3

,symbol,date,label,adjDividend,dividend,recordDate,paymentDate,declarationDate
0,AAPL,2022-08-05,"August 05, 22",0.230000,0.23,2022-08-08,2022-08-11,
1,AAPL,2022-05-06,"May 06, 22",0.230000,0.23,2022-05-09,2022-05-12,2022-04-28
2,AAPL,2022-02-04,"February 04, 22",0.220000,0.22,2022-02-07,2022-02-10,2022-01-27
3,AAPL,2021-11-05,"November 05, 21",0.220000,0.22,2021-11-08,2021-11-11,2021-10-28
4,AAPL,2021-08-06,"August 06, 21",0.220000,0.22,2021-08-09,2021-08-12,2021-07-27
...,...,...,...,...,...,...,...,...
87,AAPL,1988-05-16,"May 16, 88",0.000714,0.08,,,
88,AAPL,1988-02-12,"February 12, 88",0.000714,0.08,,,
89,AAPL,1987-11-17,"November 17, 87",0.000714,0.08,,,
90,AAPL,1987-08-10,"August 10, 87",0.000536,0.06,,,
91,AAPL,1987-05-11,"May 11, 87",0.000536,0.06,,,

In [12]:
#เขียนข้อมูลจาก DataFrame ลง Databases ด้วย Sqlite
import sqlite3

conn = sqlite3.connect('test_database1.db')
c = conn.cursor()

#สร้าง database พร้อมตัวสอบไฟล์ ถ้ายังไม่มีชื่อ table ก็สร้างได้ทันที
c.execute('CREATE TABLE IF NOT EXISTS test (symbol, date ,label,adjDividend,dividend,recordDate,paymentDate,declarationDate)')
conn.commit()

df3.to_sql('test', conn, if_exists='replace', index = False)
 
c.execute('''  
SELECT * FROM test
          ''')

for row in c.fetchall():
    print (row)
conn.close()

('AAPL', '2022-08-05', 'August 05, 22', 0.23, 0.23, '2022-08-08', '2022-08-11', '')
('AAPL', '2022-05-06', 'May 06, 22', 0.23, 0.23, '2022-05-09', '2022-05-12', '2022-04-28')
('AAPL', '2022-02-04', 'February 04, 22', 0.22, 0.22, '2022-02-07', '2022-02-10', '2022-01-27')
('AAPL', '2021-11-05', 'November 05, 21', 0.22, 0.22, '2021-11-08', '2021-11-11', '2021-10-28')
('AAPL', '2021-08-06', 'August 06, 21', 0.22, 0.22, '2021-08-09', '2021-08-12', '2021-07-27')
('AAPL', '2021-05-07', 'May 07, 21', 0.22, 0.22, '2021-05-10', '2021-05-13', '2021-04-28')
('AAPL', '2021-02-05', 'February 05, 21', 0.205, 0.205, '2021-02-08', '2021-02-11', '2021-01-27')
('AAPL', '2020-11-06', 'November 06, 20', 0.205, 0.205, '2020-11-09', '2020-11-12', '2020-10-29')
('AAPL', '2020-08-07', 'August 07, 20', 0.205, 0.82, '2020-08-10', '2020-08-13', '2020-07-30')
('AAPL', '2020-05-08', 'May 08, 20', 0.205, 0.82, '2020-05-11', '2020-05-14', '2020-04-30')
('AAPL', '2020-02-07', 'February 07, 20', 0.1925, 0.77, '2020-02-10', '2020-02-13', '2020-01-28')
('AAPL', '2019-11-07', 'November 07, 19', 0.1925, 0.77, '2019-11-11', '2019-11-14', '2019-10-30')
('AAPL', '2019-08-09', 'August 09, 19', 0.1925, 0.77, '2019-08-12', '2019-08-15', '2019-07-30')
('AAPL', '2019-05-10', 'May 10, 19', 0.1925, 0.77, '2019-05-13', '2019-05-16', '2019-05-01')
('AAPL', '2019-02-08', 'February 08, 19', 0.1825, 0.73, '2019-02-11', '2019-02-14', '2019-01-29')
('AAPL', '2018-11-08', 'November 08, 18', 0.1825, 0.73, '2018-11-12', '2018-11-15', '2018-11-01')
('AAPL', '2018-08-10', 'August 10, 18', 0.1825, 0.73, '2018-08-13', '2018-08-16', '2018-07-31')
('AAPL', '2018-05-11', 'May 11, 18', 0.1825, 0.73, '2018-05-14', '2018-05-17', '2018-05-01')
('AAPL', '2018-02-09', 'February 09, 18', 0.1575, 0.63, '2018-02-12', '2018-02-15', '2018-02-01')
('AAPL', '2017-11-10', 'November 10, 17', 0.1575, 0.63, '2017-11-13', '2017-11-16', '2017-11-02')
('AAPL', '2017-08-10', 'August 10, 17', 0.1575, 0.63, '2017-08-14', '2017-08-17', '2017-08-01')
('AAPL', '2017-05-11', 'May 11, 17', 0.1575, 0.63, '2017-05-15', '2017-05-18', '2017-05-02')
('AAPL', '2017-02-09', 'February 09, 17', 0.1425, 0.57, '2017-02-13', '2017-02-16', '2017-02-01')
('AAPL', '2016-11-03', 'November 03, 16', 0.1425, 0.57, '2016-11-07', '2016-11-10', '2016-10-25')
('AAPL', '2016-08-04', 'August 04, 16', 0.1425, 0.57, '2016-08-08', '2016-08-11', '2016-07-26')
('AAPL', '2016-05-05', 'May 05, 16', 0.1425, 0.57, '2016-05-09', '2016-05-12', '2016-04-26')
('AAPL', '2016-02-04', 'February 04, 16', 0.13, 0.52, '2016-02-08', '2016-02-11', '2016-01-26')
('AAPL', '2015-11-05', 'November 05, 15', 0.13, 0.52, '2015-11-09', '2015-11-12', '2015-10-27')
('AAPL', '2015-08-06', 'August 06, 15', 0.13, 0.52, '2015-08-10', '2015-08-13', '2015-07-21')
('AAPL', '2015-05-07', 'May 07, 15', 0.13, 0.52, '2015-05-11', '2015-05-14', '2015-04-27')
('AAPL', '2015-02-05', 'February 05, 15', 0.1175, 0.47, '2015-02-09', '2015-02-12', '2015-01-27')
('AAPL', '2014-11-06', 'November 06, 14', 0.1175, 0.47, '2014-11-10', '2014-11-13', '2014-10-20')
('AAPL', '2014-08-07', 'August 07, 14', 0.1175, 0.47, '2014-08-11', '2014-08-14', '2014-07-22')
('AAPL', '2014-05-08', 'May 08, 14', 0.1175, 3.29, '2014-05-12', '2014-05-15', '2014-04-23')
('AAPL', '2014-02-06', 'February 06, 14', 0.108929, 3.05, '2014-02-10', '2014-02-13', '2014-01-27')
('AAPL', '2013-11-06', 'November 06, 13', 0.108929, 3.05, '2013-11-11', '2013-11-14', '2013-10-28')
('AAPL', '2013-08-08', 'August 08, 13', 0.108929, 3.05, '2013-08-12', '2013-08-15', '2013-07-23')
('AAPL', '2013-05-09', 'May 09, 13', 0.108929, 3.05, '2013-05-13', '2013-05-16', '2013-04-23')
('AAPL', '2013-02-07', 'February 07, 13', 0.094643, 2.65, '2013-02-11', '2013-02-14', '2013-01-23')
('AAPL', '2012-11-07', 'November 07, 12', 0.094643, 2.65, '2012-11-12', '2012-11-15', '2012-10-25')
('AAPL', '2012-08-09', 'August 09, 12', 0.094643, 2.65, '2012-08-13', '2012-08-16', '2012-03-19')
('AAPL', '1995-11-21', 'November 21, 95', 0.001071, 0.12, '', '', '')
('AAPL', '1995-11-20', 'November 20, 95', 0.0010714275, 0.12, '1995-11-24', '1995-12-15', '1995-10-09')
('AAPL', '1995-08-16', 'August 16, 95', 0.001071, 0.12, '1995-08-18', '1995-09-08', '1995-07-20')
('AAPL', '1995-05-29', 'May 29, 95', 0.0010714275, 0.12, '1995-06-02', '1995-06-23', '1995-05-02')
('AAPL', '1995-05-26', 'May 26, 95', 0.001071, 0.12, '', '', '')
('AAPL', '1995-02-14', 'February 14, 95', 0.0010714275, 0.12, '1995-02-17', '1995-03-10', '')
('AAPL', '1995-02-13', 'February 13, 95', 0.001071, 0.12, '', '', '')
('AAPL', '1994-11-21', 'November 21, 94', 0.0010714275, 0.12, '1994-11-25', '1994-12-16', '')
('AAPL', '1994-11-18', 'November 18, 94', 0.001071, 0.12, '', '', '')
('AAPL', '1994-08-16', 'August 16, 94', 0.0010714275, 0.12, '1994-08-19', '1994-09-09', '')
('AAPL', '1994-08-15', 'August 15, 94', 0.001071, 0.12, '', '', '')
('AAPL', '1994-05-30', 'May 30, 94', 0.0010714275, 0.12, '1994-06-03', '1994-06-24', '')
('AAPL', '1994-05-27', 'May 27, 94', 0.001071, 0.12, '', '', '')
('AAPL', '1994-02-08', 'February 08, 94', 0.0010714275, 0.12, '1994-02-11', '1994-03-04', '1994-02-02')
('AAPL', '1994-02-07', 'February 07, 94', 0.001071, 0.12, '', '', '')
('AAPL', '1993-11-22', 'November 22, 93', 0.0010714275, 0.12, '1993-11-26', '1993-12-17', '')
('AAPL', '1993-11-19', 'November 19, 93', 0.001071, 0.12, '', '', '')
('AAPL', '1993-08-17', 'August 17, 93', 0.0010714275, 0.12, '1993-08-20', '1993-09-10', '')
('AAPL', '1993-08-16', 'August 16, 93', 0.001071, 0.12, '', '', '')
('AAPL', '1993-06-01', 'June 01, 93', 0.0010714275, 0.12, '1993-06-04', '1993-06-25', '')
('AAPL', '1993-05-28', 'May 28, 93', 0.001071, 0.12, '', '', '')
('AAPL', '1993-02-16', 'February 16, 93', 0.0010714275, 0.12, '1993-02-19', '1993-03-12', '')
('AAPL', '1993-02-12', 'February 12, 93', 0.001071, 0.12, '', '', '')
('AAPL', '1992-11-30', 'November 30, 92', 0.001071, 0.12, '1992-12-04', '1992-12-18', '1992-11-23')
('AAPL', '1992-08-17', 'August 17, 92', 0.001071, 0.12, '1992-08-21', '1992-09-11', '')
('AAPL', '1992-06-01', 'June 01, 92', 0.001071, 0.12, '', '', '')
('AAPL', '1992-02-14', 'February 14, 92', 0.001071, 0.12, '1992-02-21', '1992-03-13', '')
('AAPL', '1991-11-18', 'November 18, 91', 0.001071, 0.12, '1991-11-22', '1991-12-13', '')
('AAPL', '1991-08-19', 'August 19, 91', 0.001071, 0.12, '1991-08-23', '1991-09-13', '')
('AAPL', '1991-05-20', 'May 20, 91', 0.001071, 0.12, '1991-05-24', '1991-06-14', '')
('AAPL', '1991-02-19', 'February 19, 91', 0.0010714275, 0.12, '1991-02-22', '1991-03-15', '')
('AAPL', '1991-02-15', 'February 15, 91', 0.001071, 0.12, '', '', '')
('AAPL', '1990-11-19', 'November 19, 90', 0.0010714275, 0.12, '1990-11-23', '1990-12-14', '1990-11-08')
('AAPL', '1990-11-16', 'November 16, 90', 0.001071, 0.12, '', '', '')
('AAPL', '1990-08-21', 'August 21, 90', 0.0009821419, 0.11, '1990-08-24', '1990-09-14', '1990-07-23')
('AAPL', '1990-08-20', 'August 20, 90', 0.000982, 0.11, '', '', '')
('AAPL', '1990-05-22', 'May 22, 90', 0.0009821419, 0.11, '1990-05-25', '1990-06-15', '1990-04-09')
('AAPL', '1990-05-21', 'May 21, 90', 0.000982, 0.11, '', '', '')
('AAPL', '1990-02-19', 'February 19, 90', 0.0009821419, 0.11, '1990-02-23', '1990-03-15', '1990-02-02')
('AAPL', '1990-02-16', 'February 16, 90', 0.000982, 0.11, '', '', '')
('AAPL', '1989-11-17', 'November 17, 89', 0.000982, 0.1, '', '', '')
('AAPL', '1989-08-21', 'August 21, 89', 0.000893, 0.1, '', '', '')
('AAPL', '1989-05-22', 'May 22, 89', 0.000893, 0.1, '', '', '')
('AAPL', '1989-02-17', 'February 17, 89', 0.000893, 0.1, '', '', '')
('AAPL', '1988-11-21', 'November 21, 88', 0.000893, 0.1, '', '', '')
('AAPL', '1988-08-15', 'August 15, 88', 0.000714, 0.08, '', '', '')
('AAPL', '1988-05-16', 'May 16, 88', 0.000714, 0.08, '', '', '')
('AAPL', '1988-02-12', 'February 12, 88', 0.000714, 0.08, '', '', '')
('AAPL', '1987-11-17', 'November 17, 87', 0.000714, 0.08, '', '', '')
('AAPL', '1987-08-10', 'August 10, 87', 0.000536, 0.06, '', '', '')
('AAPL', '1987-05-11', 'May 11, 87', 0.000536, 0.06, '', '', '')

Delisted Companies

In [13]:
#Data Delisted companies
limit: int = 10
#print(f"Delisted Companies: {fmpsdk.delisted_companies(apikey=apikey, limit=limit)}")
fmpsdk.delisted_companies(apikey=apikey, limit=limit)

[{'symbol': 'BSCL',
  'companyName': 'INVESCO BULLETSHARES 2021 CORPORATE BOND ETF ',
  'exchange': 'NASDAQ',
  'ipoDate': '2013-07-17',
  'delistedDate': '2022-08-17'},
 {'symbol': 'ALIN-P-A',
  'companyName': 'Altera Infrastructure L.P',
  'exchange': 'NYSE',
  'ipoDate': '2014-09-22',
  'delistedDate': '2022-08-17'},
 {'symbol': 'ARD',
  'companyName': 'Ardagh Group S.A. - Class A',
  'exchange': 'NYSE',
  'ipoDate': '2017-03-15',
  'delistedDate': '2022-08-17'},
 {'symbol': 'ATC',
  'companyName': 'Atotech Ltd',
  'exchange': 'NYSE',
  'ipoDate': '2021-02-04',
  'delistedDate': '2022-08-17'},
 {'symbol': 'CEO',
  'companyName': 'Cnooc Ltd',
  'exchange': 'NYSE',
  'ipoDate': '2001-02-27',
  'delistedDate': '2022-08-17'}]

In [14]:
#แปลงค่าที่รับมาจาก api ให้อยู่ในรูปแบบ dataframe
#keep value from api in data_dc
limit=10
data_dc=fmpsdk.delisted_companies(apikey=apikey, limit=limit)

df_dc = pd.json_normalize(data_dc)
df_dc.head(10)

,symbol,companyName,exchange,ipoDate,delistedDate
0,BSCL,INVESCO BULLETSHARES 2021 CORPORATE BOND ETF,NASDAQ,2013-07-17,2022-08-17
1,ALIN-P-A,Altera Infrastructure L.P,NYSE,2014-09-22,2022-08-17
2,ARD,Ardagh Group S.A. - Class A,NYSE,2017-03-15,2022-08-17
3,ATC,Atotech Ltd,NYSE,2021-02-04,2022-08-17
4,CEO,Cnooc Ltd,NYSE,2001-02-27,2022-08-17

In [15]:
#เขียนข้อมูลที่รับแปลงจาก DataFrame เป็น Sqlite
import sqlite3

conn2 = sqlite3.connect('test_database2.db')
c2 = conn2.cursor()

#สร้าง database พร้อมตัวสอบไฟล์ ถ้ายังไม่มีชื่อ table ก็สร้างได้ทันที
c2.execute('CREATE TABLE IF NOT EXISTS test (symbol, companyName ,exchange,ipoDate,delistedDate)')
conn2.commit()

df_dc.to_sql('test', conn2, if_exists='replace', index = False)
 
c2.execute('''  
SELECT * FROM test
          ''')

for row in c2.fetchall():
    print (row)
conn2.close()

('BSCL', 'INVESCO BULLETSHARES 2021 CORPORATE BOND ETF ', 'NASDAQ', '2013-07-17', '2022-08-17')
('ALIN-P-A', 'Altera Infrastructure L.P', 'NYSE', '2014-09-22', '2022-08-17')
('ARD', 'Ardagh Group S.A. - Class A', 'NYSE', '2017-03-15', '2022-08-17')
('ATC', 'Atotech Ltd', 'NYSE', '2021-02-04', '2022-08-17')
('CEO', 'Cnooc Ltd', 'NYSE', '2001-02-27', '2022-08-17')

# ทดสอบ

In [17]:
#ทดสอบ SELECT Query ข้อมูล
# database ของ Historical Dividends
def get_data(cursor):
  all_rows = cursor.fetchall()
  #[all_rows.append(np.array(row)) for row in cursor]
  column_names = [description[0] for description in cursor.description]
  df = pd.DataFrame(data=all_rows, columns = column_names)  
  # ซ่อน index
  blankIndex=[''] * len(df)
  df.index=blankIndex
  return df


conn = sqlite3.connect('/content/test_database1.db')

with conn:
  cursor = conn.execute("SELECT * FROM test")

df=get_data(cursor)
conn.close() 
print("Operation done successfully")
df

Operation done successfully

,symbol,date,label,adjDividend,dividend,recordDate,paymentDate,declarationDate
,AAPL,2022-08-05,"August 05, 22",0.230000,0.23,2022-08-08,2022-08-11,
,AAPL,2022-05-06,"May 06, 22",0.230000,0.23,2022-05-09,2022-05-12,2022-04-28
,AAPL,2022-02-04,"February 04, 22",0.220000,0.22,2022-02-07,2022-02-10,2022-01-27
,AAPL,2021-11-05,"November 05, 21",0.220000,0.22,2021-11-08,2021-11-11,2021-10-28
,AAPL,2021-08-06,"August 06, 21",0.220000,0.22,2021-08-09,2021-08-12,2021-07-27
...,...,...,...,...,...,...,...,...
,AAPL,1988-05-16,"May 16, 88",0.000714,0.08,,,
,AAPL,1988-02-12,"February 12, 88",0.000714,0.08,,,
,AAPL,1987-11-17,"November 17, 87",0.000714,0.08,,,
,AAPL,1987-08-10,"August 10, 87",0.000536,0.06,,,
,AAPL,1987-05-11,"May 11, 87",0.000536,0.06,,,

In [18]:
# database ของ Delisted companies
conn2 = sqlite3.connect('/content/test_database2.db')

with conn2:
  cursor2 = conn2.execute("SELECT * FROM test")

df=get_data(cursor2)
conn2.close() 
print("Operation done successfully")
df

Operation done successfully

,symbol,companyName,exchange,ipoDate,delistedDate
,BSCL,INVESCO BULLETSHARES 2021 CORPORATE BOND ETF,NASDAQ,2013-07-17,2022-08-17
,ALIN-P-A,Altera Infrastructure L.P,NYSE,2014-09-22,2022-08-17
,ARD,Ardagh Group S.A. - Class A,NYSE,2017-03-15,2022-08-17
,ATC,Atotech Ltd,NYSE,2021-02-04,2022-08-17
,CEO,Cnooc Ltd,NYSE,2001-02-27,2022-08-17